.stonkk-header {
  text-align: center;
  border-bottom: 1px solid black;
}
.App {
  border: 1px solid black;
  width: 480px;
  //height: 640px;
  margin: 0 auto;
  margin-top: 30px;
}

.stonk {
  height: 72px;
  border: 1px solid black;
  margin: 3px 3px 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    float: left;
    display: inline-block; 
    width: 100px; 
    margin-left: 15px;
  }

  .stonkk-info {
    display: flex;
    flex-wrap: wrap;
    p {
      width: 50%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.stonk {
  height: 72px;
  border: 1px solid black;
  &-top {
    height: 48px;
    display: flex;
    flex-direction: space-evenly;
    justify-items: center;
    justify-content: center;
    .item { 
      flex-basis: 120px;
    }
  }
  &-bottom {
    height: 24px;
    text-align: center;
  }
}

.perfect-center {
  display: flex;
  align-items: center;
  justify-content: center;
  p, h2, h3, b { margin: 0 0 0 0; }
  b { font-size: 1.4em; }
}

nav#stonkk-nav {
  padding: 0 100px;
  ul, ul li, header { display: inline-block; }
  ul li {
    margin: 0 5px;
  }
  border-bottom: 1px solid black;
  header {
    margin-right: 66px;
    h1 { color: #b70202; }
  }
}

#sidebar {
  width: 320px;
  //background-color: rgba(0,0,0,0.04);
  border-right: 1px solid black;
  text-decoration: none;
  a { color: black; }
  a:hover { text-decoration: none; }
}

.stonkSummary {
  display: flex;
  width: 280px;
  margin: 0 auto;
  h3 {
    font-size: 24px; 
    min-width: 75px;
}

  .ssDetails {
    margin-left: 15px;
    width: 100%;
    p {
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: -0.85px;
    }
    span.count {
      font-size: 14px;
    }
    span.price {
      b { font-size: 19px; }
    }
  }

  .bottomRow {
    display: flex;
    justify-content: space-between;
  }

}

.sidebarHeader{
  text-align: center;
  margin-bottom: 10px;
}

.rightBarred {
  width: calc(100% - 320px);
  float: right;
}
